@page
@model Webapplication.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>I cherish my privacy, and woe betide anyone who tries to interfere with that - Jeff Beck</p>